body{
    width: 90vw;
    flex-direction: column;
    background-color: rgba(49, 59, 197, 0.144);
}

.p-explicação{
    font-size: 20px;
}

input{
    border-radius: 5px;
    color: rgba(51, 41, 185, 0.781);
}