body{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #f8bdff!important;
    overflow-x: hidden;
}

.p-explicação{
    font-size: 20px;
}

input{
    border-radius: 5px;
    color: rgba(198, 23, 204, 0.781);
}

img{
    border-radius: 10px;   
}

hr{
    background-color: rgba(128, 0, 128, 0.363) !important;
}